.navigation {
    color: green;
    width: 750px;
    margin: 20px auto;
}

.previous {
    color: green;
    padding: 5px 5px;
}

.next {
    color: green;
    float: right;
    padding: 5px 5px;
    margin-bottom: 20px;
}

